<div id="mobile-sidebar-container">
    <div id="mobile-sidebar-menu-box" (click)="openSidebar()">
        <i class="fa-solid fa-bars menu-icon"></i>
    </div>

    <a class="mobile-sidebar-item-box" href="/about">
        <div class="mobile-sidebar-item-icon-area">
            <i class="fa-solid fa-circle-info item-icon"></i>
        </div>
        <div class="mobile-sidebar-item-name-area">
            <span class="mobile-sidebar-item-name-area">About</span>
        </div>
    </a>

    <a class="mobile-sidebar-item-box" href="/suport">
        <div class="mobile-sidebar-item-icon-area">
            <i class="fa-solid fa-wrench item-icon"></i>
        </div>
        <div class="mobile-sidebar-item-name-area">
            <span class="mobile-sidebar-item-name-area">Suport</span>
        </div>
    </a>

    <a class="mobile-sidebar-item-box" href="/addfile">
        <div class="mobile-sidebar-item-icon-area">
            <i class="fa-solid fa-file-circle-plus item-icon"></i>
        </div>
        <div class="mobile-sidebar-item-name-area">
            <span class="mobile-sidebar-item-name-area">Add new file</span>
        </div>
    </a>

    <a class="mobile-sidebar-item-box" href="/verified-girls">
        <div class="mobile-sidebar-item-icon-area">
            <i class="fa-solid fa-circle-check item-icon"></i>
        </div>
        <div class="mobile-sidebar-item-name-area">
            <span class="mobile-sidebar-item-name-area">Verified Girls</span>
        </div>
    </a>

</div>