<main>
    <app-sidebar></app-sidebar>

    <section class="main-content">
        <div class="header-container">
            <div class="logo-area">
                <img class="logo-icon" src="https://i.postimg.cc/L6qfGwBY/cineprivex-logo-02.png" alt="">
            </div>

            <div class="infos-area">

                <div class="user-area">

                </div>

                <div class="buttons-area">
                    
                </div>
            </div>
        </div>
        <div class="main-container">

            <div class="verifiedgirl-container">
                <div class="verifiedgirl-name-area">
                    <span class="verifiedgirl-name">Manoelleprata</span>
                </div>

                <div class="verifiedgirl-images-area">
                    <div class="verifiedgirl-images-carousel">
                        <img class="verifiedgirl-image" src="https://i.postimg.cc/vBQfjm3b/copy-FDD7-A78-A-C4-D1-4571-B908-E708255-C678-A.gif" alt="">
                        <img class="verifiedgirl-image" src="assets/images/girls/girl-02.jpg" alt="">
                        <img class="verifiedgirl-image" src="assets/images/girls/girl-03.jpg" alt="">
                        <img class="verifiedgirl-image" src="assets/images/girls/girl-04.jpg" alt="">
                    </div>
                </div>

                <div class="verifiedgirl-contact-area">
                    <div class="verifiedgirl-contact-box">
                        <i class="fa-brands fa-instagram contact-icon instagram-icon"></i>
                        <span class="verifiedgirl-contact">&#64;manoelleprata</span>
                    </div>

                    <div class="verifiedgirl-contact-box">
                        <i class="fa-solid fa-link contact-icon"></i>
                    </div>
                </div>
            </div>

            <div class="verifiedgirl-container">
                <div class="verifiedgirl-name-area">
                    <span class="verifiedgirl-name">Sweet Amy</span>
                </div>

                <div class="verifiedgirl-images-area">
                    <div class="verifiedgirl-images-carousel">
                        <img class="verifiedgirl-image" src="https://i.postimg.cc/pLD6FRXz/Captura-de-tela-2024-11-01-195134.png" alt="">
                        <img class="verifiedgirl-image" src="assets/images/girls/girl-02.jpg" alt="">
                        <img class="verifiedgirl-image" src="assets/images/girls/girl-03.jpg" alt="">
                        <img class="verifiedgirl-image" src="assets/images/girls/girl-04.jpg" alt="">
                    </div>
                </div>

                <div class="verifiedgirl-contact-area">
                    <div class="verifiedgirl-contact-box">
                        <i class="fa-brands fa-discord contact-icon"></i>
                        <span class="verifiedgirl-contact">_sweet.amy.</span>
                    </div>

                    <div class="verifiedgirl-contact-box">
                        <i class="fa-solid fa-link contact-icon"></i>
                        <span class="verifiedgirl-contact">https://discord.gg/sweetpacks</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>