<section class="sidebar-container">
    <div class="sidebar-search-area">
        <input class="sidebar-search-input" type="text" placeholder="Search">
    </div>

    <a class="sidebar-item-box" href="/">
        <div class="sidebar-navigate-area">
            <i class="fa-solid fa-house navigate-icon"></i>
            <span class="sidebar-navigate-name">Home</span>
        </div>
    </a>

    <a class="sidebar-item-box" href="/about">
        <div class="sidebar-navigate-area">
            <i class="fa-solid fa-circle-info navigate-icon"></i>
            <span class="sidebar-navigate-name">About</span>
        </div>
    </a>

    <a class="sidebar-item-box" href="/suport">
        <div class="sidebar-navigate-area">
            <i class="fa-solid fa-wrench navigate-icon"></i>
            <span class="sidebar-navigate-name">Suport</span>
        </div>
    </a>

    <a class="sidebar-item-box" href="/addfile">
        <div class="sidebar-navigate-area">
            <i class="fa-solid fa-file-circle-plus navigate-icon"></i>
            <span class="sidebar-navigate-name">New file</span>
        </div>
    </a>

    <a class="sidebar-item-box" href="/verified-girls">
        <div class="sidebar-navigate-area">
            <i class="fa-solid fa-circle-check navigate-icon"></i>
            <span class="sidebar-navigate-name">Verified Girls</span>
        </div>
    </a>

</section>